* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #1e90ff 0%, #191970 100%);
    background-color: #191970;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    padding: 8px;
}

aside {
    width: 300px;
}

h2 {
    display: inline-block;
}

div h2 {
    margin-bottom: 1em;
}

button, input, hr {
    margin: 5px 0;
}

button, input, section.current {
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}

input, section.current {
    border: 2px solid #afafaf;
}

button {
    background-color: #bfbfbf;
    border: 0;
}

form button {
    background-color: #1e90ff;
    color: #fff;
}

hr {
    background: #afafaf;
    border: 1px solid #afafaf;
}

article {
    margin-left: 8px;
    width: calc(100% - 300px);
}

section {
    padding-top: 8px;
}

div {
    display: flex;
}

img {
    height: 27.2px;
    width: 27.2px;
}

.forecast-card img {
    height: 50px;
    width: 50px;
}

p {
    margin: 0 0 1em 0;
}

h3 {
    margin-top: 1em;
}

.alert {
    color: #bf0000;
    margin-top: 5px;
}

.low, .moderate, .high, .very-high, .extreme {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: small;
}

.low {
    background-color: #008000;
    color: #fff;
}

.moderate {
    background-color: #ffd700;
}

.high {
    background-color: #ff8c00;
}

.very-high {
    background-color: #8b0000;
    color: #fff;
}

.extreme {
    background-color: #800080;
    color: #fff;
}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.forecast-card {
    background-color: #303070;
    border: 1px solid #000;
    color: #fff;
    display: block;
    padding: 5px 5px 0 5px;
    min-width: 150px;
    width: fit-content;
}